# Reading and cleaning bike trip history data

This notebook includes initial exploration of the bike trip history data. Specifically, it was used to develop doe for reading tripdata.zip files and extract counts of trips by day.

In [18]:
import itertools
import pandas as pd
import numpy as np

First, when reading the files, it being apparent (from runtimes) that the pandas datetime parser was slow due to inconsistant formatting of the starttime field.

In [19]:
years = range(2014,2017)
months = [str(x).zfill(2) for x in range(1,13)]

In [35]:
for year, month in itertools.product(years, months):
    df = pd.read_csv('./../data/raw/{}{}-citibike-tripdata.zip'.format(year,month), usecols=[1])
    print df.head(2)
    print df.tail(2)
    print '\n'

             starttime
0  2014-01-01 00:00:06
1  2014-01-01 00:00:38
                  starttime
300398  2014-01-31 23:58:34
300399  2014-01-31 23:58:43


             starttime
0  2014-02-01 00:00:00
1  2014-02-01 00:00:03
                  starttime
224734  2014-02-28 23:59:10
224735  2014-02-28 23:59:47


             starttime
0  2014-03-01 00:00:16
1  2014-03-01 00:00:57
                  starttime
439115  2014-03-31 23:59:40
439116  2014-03-31 23:59:54


             starttime
0  2014-04-01 00:00:07
1  2014-04-01 00:00:20
                  starttime
670778  2014-04-30 23:56:43
670779  2014-04-30 23:57:28


             starttime
0  2014-05-01 00:08:32
1  2014-05-01 00:10:16
                  starttime
866115  2014-05-31 23:59:54
866116  2014-05-31 23:59:59


             starttime
0  2014-06-01 00:00:02
1  2014-06-01 00:00:27
                  starttime
936878  2014-06-30 23:59:50
936879  2014-06-30 23:59:50


             starttime
0  2014-07-01 00:00:04
1  2014-07-01 00:00:06
                  starttime
968840  2014-07-31 23:59:50
968841  2014-07-31 23:59:58


             starttime
0  2014-08-01 00:00:04
1  2014-08-01 00:00:05
                  starttime
963487  2014-08-31 23:59:38
963488  2014-08-31 23:59:47


           starttime
0  9/1/2014 00:00:25
1  9/1/2014 00:00:28
                 starttime
953885  9/30/2014 23:59:58
953886  9/30/2014 23:59:59


            starttime
0  10/1/2014 00:00:27
1  10/1/2014 00:00:36
                  starttime
828709  10/31/2014 23:59:30
828710  10/31/2014 23:59:50


            starttime
0  11/1/2014 00:00:11
1  11/1/2014 00:00:11
                  starttime
529186  11/30/2014 23:59:52
529187  11/30/2014 23:59:58


            starttime
0  12/1/2014 00:00:28
1  12/1/2014 00:00:43
                  starttime
399067  12/31/2014 23:57:25
399068  12/31/2014 23:58:16


       starttime
0  1/1/2015 0:01
1  1/1/2015 0:02
              starttime
285550  1/31/2015 23:58
285551  1/31/2015 23:59


       starttime
0  2/1/2015 0:00
1  2/1/2015 0:00
              starttime
196928  2/28/2015 23:59
196929  2/28/2015 23:59


       starttime
0  3/1/2015 0:00
1  3/1/2015 0:01
              starttime
341824  3/31/2015 23:59
341825  3/31/2015 23:55


           starttime
0  4/1/2015 00:00:23
1  4/1/2015 00:00:52
                 starttime
652388  4/30/2015 23:59:40
652389  4/30/2015 23:59:55


           starttime
0  5/1/2015 00:00:11
1  5/1/2015 00:00:28
                 starttime
961984  5/31/2015 23:59:43
961985  5/31/2015 23:59:59


       starttime
0  6/1/2015 0:00
1  6/1/2015 0:00
              starttime
941217  6/30/2015 23:59
941218  6/30/2015 23:59


           starttime
0  7/1/2015 00:00:03
1  7/1/2015 00:00:06
                  starttime
1085674  7/31/2015 23:59:56
1085675  7/31/2015 23:59:59


           starttime
0  8/1/2015 00:00:04
1  8/1/2015 00:00:05
                  starttime
1179042  8/31/2015 23:59:16
1179043  8/31/2015 23:59:41


           starttime
0  9/1/2015 00:00:00
1  9/1/2015 00:00:00
                  starttime
1289697  9/30/2015 23:59:48
1289698  9/30/2015 23:59:57


            starttime
0  10/1/2015 00:00:02
1  10/1/2015 00:00:02
                   starttime
1212275  10/31/2015 23:59:56
1212276  10/31/2015 23:59:57


            starttime
0  11/1/2015 00:00:00
1  11/1/2015 00:00:01
                  starttime
987243  11/30/2015 23:59:01
987244  11/30/2015 23:59:11


            starttime
0  12/1/2015 07:35:36
1  12/1/2015 07:38:15
                  starttime
804123  12/31/2015 21:20:38
804124  12/31/2015 21:49:19


           starttime
0  1/1/2016 00:00:41
1  1/1/2016 00:00:45
                 starttime
509476  1/31/2016 23:59:13
509477  1/31/2016 23:59:26


           starttime
0  2/1/2016 00:00:08
1  2/1/2016 00:00:56
                 starttime
560872  2/29/2016 23:59:28
560873  2/29/2016 23:59:55


           starttime
0  3/1/2016 06:52:42
1  3/1/2016 07:05:50
                 starttime
919919  3/31/2016 20:40:46
919920  3/31/2016 20:59:23


           starttime
0  4/1/2016 00:00:26
1  4/1/2016 00:00:27
                  starttime
1013147  4/30/2016 23:59:49
1013148  4/30/2016 23:59:53


           starttime
0  5/1/2016 00:00:03
1  5/1/2016 00:00:04
                  starttime
1212278  5/31/2016 23:59:37
1212279  5/31/2016 23:59:43


           starttime
0  6/1/2016 00:00:18
1  6/1/2016 00:00:20
                  starttime
1460316  6/30/2016 20:47:04
1460317  6/29/2016 11:44:24


           starttime
0  7/1/2016 00:00:02
1  7/1/2016 00:00:18
                  starttime
1380108  7/31/2016 23:59:53
1380109  7/31/2016 23:59:59


           starttime
0  8/1/2016 00:01:22
1  8/1/2016 00:01:43
                  starttime
1557661  8/29/2016 15:47:35
1557662  8/29/2016 16:25:46


           starttime
0  9/1/2016 00:00:02
1  9/1/2016 00:00:04
                  starttime
1648854  9/30/2016 23:59:28
1648855  9/30/2016 23:59:51


            Start Time
0  2016-10-01 00:00:07
1  2016-10-01 00:00:11
                  Start Time
1573870  2016-10-31 23:59:39
1573871  2016-10-31 23:59:48


            Start Time
0  2016-11-01 00:00:08
1  2016-11-01 00:00:08
                  Start Time
1196940  2016-11-30 23:59:33
1196941  2016-11-30 23:59:44


            Start Time
0  2016-12-01 00:00:04
1  2016-12-01 00:00:28
                 Start Time
812190  2016-12-31 23:59:31
812191  2016-12-31 23:59:56

Our strategy to deal with this will be two fold- read in the first value, then
    - Match the '-' to decide on the datetime pattern.
    - If no match, count the number of ":" to specify pattern.

In [40]:
for year, month in itertools.product(years, months):
    sample = pd.read_csv('./../data/raw/{}{}-citibike-tripdata.zip'.format(year,month), usecols=[1], nrows=1)
    col = sample.columns[0]
    sample = sample.loc[0][0]
    if sample.find('-') != -1:
        format='%Y-%m-%d %H:%M:%S'
    else:
        if sample.count(':') == 1:
            format='%m/%d/%Y %H:%M'
        elif sample.count(':') == 2:
            format='%m/%d/%Y %H:%M:%S'
    df = pd.read_csv('./../data/raw/{}{}-citibike-tripdata.zip'.format(year,month), usecols=[1], nrows=100)
    df[col] =  pd.to_datetime(df[col], format=format)
    
    print year, month
    print df.info()
    print '\n'

2014 01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 03
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 04
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 05
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 07
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 08
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2014 12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 03
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 04
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 05
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 07
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 08
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2015 12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 03
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 04
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 05
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 07
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 08
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
starttime    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
Start Time    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
Start Time    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None


2016 12
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
Start Time    100 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 872.0 bytes
None

Next we use a sample file to develop aggregation code

In [43]:
df = pd.read_csv('./../data/raw/{}{}-citibike-tripdata.zip'.format(2016,12), parse_dates=[0],usecols=[1])

In [44]:
df['Date'] = df['Start Time'].dt.floor('d')
df.drop('Start Time', axis=1, inplace=True)

In [45]:
df = df.groupby('Date').size().to_frame('Trip Count')

In [46]:
df['Day of Week'] = df.index.dayofweek
df['Month'] = df.index.month

In [47]:
df.head()

            Trip Count  Day of Week  Month
Date
2016-12-01       43242            3     12
2016-12-02       42371            4     12
2016-12-03       29854            5     12
2016-12-04       27455            6     12
2016-12-05       35932            0     12